/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --content-width: 1215px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Inter", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-800: 800;


  // color
  --color-white: #fff;

  --color-dark-500: #757471;
  --color-dark-600: #6a6a66;
  --color-dark-700: #424244;
  --color-dark-900: #393833;

  --color-blue-100: #e0e9fc;
  --color-blue: #648eef;

  --color-gray-100: #eceef2;
  --color-gray: #e7e7e7;

  //filter
  --dark-700: invert(22%) sepia(9%) saturate(118%) hue-rotate(201deg) brightness(97%) contrast(84%);
  --dark-900: invert(17%) sepia(4%) saturate(1068%) hue-rotate(13deg) brightness(94%) contrast(83%);

  //  radius
  --radius-main: 16px;

  // gradient

  // icons
  --arrow: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.25 8H1.75M1.75 8L8.63235 2M1.75 8L8.63235 14" stroke="%23000000" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/></svg>');

  --puzzle: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4683 21.3495C23.5661 21.6704 22.5938 21.0011 22.5938 20.0229V11.345H15.8948C14.6811 11.345 14.0382 12.7841 14.847 13.6892C15.3084 14.2042 15.5625 14.8703 15.5625 15.5637C15.5625 17.1142 14.3004 18.3762 12.75 18.3762C11.1996 18.3762 9.9375 17.1142 9.9375 15.5637C9.9375 14.8703 10.1916 14.2042 10.653 13.6892C11.4618 12.7841 10.8189 11.345 9.60516 11.345H4.21875C1.89244 11.345 0 13.2374 0 15.5637V32.4387C0 34.765 1.89244 36.6575 4.21875 36.6575H7.125C7.125 39.7598 9.64772 42.2825 12.75 42.2825C15.8523 42.2825 18.375 39.7598 18.375 36.6575H22.5938V27.9797C22.5938 27.0144 23.598 26.3513 24.4683 26.6531C26.2151 27.2753 28.2173 25.8717 28.2188 24.0013C28.2188 22.1282 26.2178 20.726 24.4683 21.3495Z" fill="%23000000"/><path d="M43.7812 11.345H40.875C40.875 8.24269 38.3523 5.71997 35.25 5.71997C32.1477 5.71997 29.625 8.24269 29.625 11.345H25.4062V18.3762C28.5085 18.3762 31.0312 20.8989 31.0312 24.0012C31.0312 27.1035 28.5085 29.6262 25.4062 29.6262V36.6575H43.7812C46.1076 36.6575 48 34.765 48 32.4387V15.5637C48 13.2374 46.1076 11.345 43.7812 11.345Z" fill="%23000000"/></svg>');

  --check: url('data:image/svg+xml,<svg width="56" height="34" viewBox="0 0 56 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.51221 18.1664C0.651542 19.1269 0.651541 20.5812 1.51221 21.5418L11.6817 32.8916C12.6893 34.0161 14.4512 34.013 15.4548 32.8849V32.8849C16.3099 31.9239 16.3073 30.4741 15.4489 29.5161L5.27938 18.1664C4.27421 17.0445 2.51738 17.0445 1.51221 18.1664V18.1664ZM54.4828 1.11554C53.4741 -0.0103262 51.7108 -0.00991391 50.7025 1.11642L30.1377 24.0896C28.547 25.8666 25.7646 25.8656 24.1752 24.0875L18.8629 18.1447C17.8601 17.0228 16.1067 17.0156 15.0947 18.1292V18.1292C14.2203 19.0915 14.2151 20.5592 15.0828 21.5276L24.1762 31.6764C25.766 33.4507 28.5446 33.4507 30.1344 31.6764L54.4828 4.50204C55.3463 3.53834 55.3463 2.07924 54.4828 1.11554V1.11554ZM40.9136 4.48634C41.772 3.52831 41.7745 2.07855 40.9195 1.11751V1.11751C39.9159 -0.0105127 38.1539 -0.0136073 37.1464 1.11088L25.265 14.3712C24.4021 15.3343 24.4047 16.7932 25.271 17.7532V17.7532C26.2777 18.8689 28.0294 18.8658 29.0322 17.7466L40.9136 4.48634Z" fill="%23000000"/></svg>');

  --heart: url('data:image/svg+xml,<svg width="48" height="44" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.9072e-07 13.2028C-0.00059624 9.65937 1.39772 6.26449 3.88035 3.78198C6.36298 1.29948 9.7214 -0.0621322 13.2 0.00348715C17.3216 -0.018805 21.2544 1.76138 24 4.89212C26.7456 1.76138 30.6784 -0.018805 34.8 0.00348715C38.2786 -0.0621322 41.637 1.29948 44.1196 3.78198C46.6023 6.26449 48.0006 9.65937 48 13.2028C48 26.2946 32.6904 36.1794 24 44.0012C15.3288 36.1134 1.9072e-07 26.3044 1.9072e-07 13.2028Z" fill="%23000000"/></svg>');

  --bulb: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.5898 35.6934V24.9355L17.0168 19.3629C16.4535 18.7997 16.4535 17.8867 17.0168 17.3239C17.5796 16.7606 18.4926 16.7606 19.0558 17.3239L24.0319 22.2999L29.008 17.3239C29.5708 16.7606 30.4838 16.7606 31.047 17.3239C31.6099 17.8867 31.6099 18.7997 31.047 19.3629L25.4733 24.9363V35.6934H33.4578C33.7574 33.7162 34.7106 31.8661 36.1751 30.4785C37.8977 28.8459 39.2531 26.9211 40.2038 24.7572C41.1885 22.516 41.6877 20.129 41.6877 17.6622C41.6877 12.9835 39.876 8.57471 36.5867 5.24805C33.3 1.92432 28.9172 0.0632324 24.2461 0.00720215C24.1744 0.00646973 24.104 0.00610352 24.0326 0.00610352C14.4288 0.00610352 6.52848 7.75586 6.37724 17.3788C6.33805 19.8859 6.8134 22.3153 7.79118 24.6005C8.73381 26.8043 10.0943 28.7646 11.8345 30.4276C13.3257 31.8522 14.2969 33.7198 14.6031 35.6934H22.5898Z" fill="%23000000"/><path d="M14.7075 38.5769V41.1964C14.7075 44.9515 17.7621 48.0061 21.5168 48.0061H26.5468C30.3015 48.0061 33.3564 44.9515 33.3564 41.1964V38.5769H14.7075Z" fill="%23000000"/></svg>');
}